body{
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;    
}

a:hover{
    color: red;   
}

.container{
    max-width: 1000px;
    margin: auto;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.logo h2{
    color: black;
}

.logo img{
    width: 1300px;
    height: 400px;
    margin-right: 10px;
}

.section-1{
    display: flex;
}

.action-title h2{
    font-size: 20px;
}

.button {
    background-color: blue;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 40px;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;


}
.img img{
    width: 700px;
    height: 400px;
    margin-top: 35px;
    margin-right: 25px;
    
    
}
.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 10px;
}
.section-2 h2{
    color: blue;
    text-transform: uppercase;
    text-align: center;
    
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-family: Kdam Thmor Pro', sans-serif;
}
.card img{
    width: 500px;
    height: 350px;
}

.card1 img{
    width: 500px;
    height: 200px;
    display: flex;
    border-radius: 20px;
    margin-top: 50px;
}

.card2 img{
    width: 450px;
    height: 500px;
    margin-top: 10px;
    border-radius: 70px;
}

.card3 img{
    margin: 25px;
    border-radius: 100px;
}

.card4 img{
    justify-content: center;
    border-radius: 10px;
}

.card5 img{
    border-radius: 130px;
}



.section-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.button-2{
    display: inline-block;
    background-color: blue;
    color: crimson;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold;
}

.section-3 h2{
    font-size: 48px;
    color: black;
}

.section-3 p{
    color: black;
    margin-top: auto;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.button-footer{
    display: inline-block;
    padding: 15px 70px;
    background-color: black;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-top: 35px;
}



@media (max-width: 420px){
    .section-1{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .img img{
        margin-right: 25px;        
    }
    .action-title h2{
        font-size: 30px;
        text-align: center;
        font-size: 25px;
        
    }
    .button {
        margin-top: 20px;
    
    }
    .card{
        display: flex;
        flex-direction: column;
    }

    .card1{
        margin-top: 30px;
    }
    .section-3 h2{
        text-align: center;
        font-size: 30px;
    }

    .section-3 p{
        font-size: 14px;
        
    }
}
